{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block extracss %}
{% endblock %}

{% block customcss %}
    <style>
        body {
            margin-top: 40px;
        }
    </style>
{% endblock %}

{% block rootcontainer %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#777; color:white">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-center">Keep track of what the market thinks about cryptocurrencies!</h1>
                    <p class="text-center">
                        <b>Cerebro</b> is a <b>detailed</b> and <b>easy to use</b>
                        web application for determining what everyone is thinking about a particular crypto currency.
                        <br><br>
                        {# TODO change glocose_count to # of customers server counter #}
                        <b>{{ glucose_count|intcomma }}</b> Subscribers joined
                        <br><br>
                        <a class="btn btn-lg btn-success" href="{% url 'signup' %}" role="button">
                            Sign Up Today
                        </a>
                    </p>
                    <br>
                </div>
                <div class="col-md-5">
                    {# TODO change the screenshots to updated dashboard #}
                    <a href="{% static 'images/screenshots/glucosetracker_dashboard_001.png' %}" class="thumbnail">
                        <img src="{% static 'images/screenshots/glucosetracker_dashboard_001.png' %}">
                    </a>
                    <div class="addthis_sharing_toolbox text-center"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-5">
                {# TODO change the screenshots to updated dashboard #}
                <a href="{% static 'images/screenshots/glucosetracker_charts_001.png' %}" class="thumbnail">
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screenshots/glucosetracker_charts_001.png' %}">
                </a>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Detailed charts. <span class="text-muted">Visualize the data.</span>
                </h2>
                <p class="lead">Quickly see where the market is headed based on our collected social media information.
                    Use the charts
                    to preform analysis on the data based on the last 7, 14, 30, or 90 days.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Advanced data collection. <span class="text-muted">Get a summary of social media in seconds.</span>
                </h2>
                <p class="lead">
                    No more needing to check Twitter, Reddit, 4Chan, etc. every day for 3 hours in order to determine
                    the what the market is thinking.
                    Quickly inspect the up to date data and spend your time elsewhere.
                </p>
            </div>
            <div class="col-md-5">
                {# TODO change the screenshots to updated dashboard #}
                <a href="{% static 'images/screenshots/glucosetracker_filter_001.png' %}" class="thumbnail">
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screenshots/glucosetracker_filter_001.png' %}">
                </a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                {# TODO change the screenshots to updated dashboard #}
                <a href="{% static 'images/screenshots/glucosetracker_email_001.png' %}" class="thumbnail">
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screenshots/glucosetracker_email_001.png' %}">
                </a>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Receive Alerts. <span
                        class="text-muted"> Reduce missing out on bull runs</span>
                </h2>
                <p class="lead">
                    No more needing to check Twitter, Reddit, and Coinbase for large changes in public opinion on your
                    favourite currency.
                    Let us take care of that and send you an email when the time to buy is now.
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Take control if you like. <span class="text-muted"> Inspect the raw data yourself</span>
                </h2>
                <p class="lead"> Use our REST API to feed our data into your own analysis tools/bots, or use our report
                    generation tool to download a CSV of our data and do with it what you please!
                </p>
            </div>
            <div class="col-md-5">
                {# TODO change the screenshots to updated dashboard #}
                <a href="{% static 'images/screenshots/glucosetracker_import_from_csv_001.png' %}" class="thumbnail">
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screenshots/glucosetracker_import_from_csv_001.png' %}">
                </a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                {# TODO change the screenshots to updated dashboard #}
                <a href="{% static 'images/screenshots/glucosetracker_dashboard_mobile_001.png' %}" class="thumbnail">
                    <img class="featurette-image img-responsive"
                         src="{% static 'images/screenshots/glucosetracker_dashboard_mobile_001.png' %}">
                </a>
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Mobile friendly. <span
                        class="text-muted">Layout adapts to screen size.</span></h2>
                <p class="lead">Prefer to use your tablet or smartphone while on the shitter at work/school? No problem!
                    Cerebro was designed with mobile devices in mind. The website will automatically adjust based on the
                    screen size so it will always be easy for you to use.
                </p>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}

{% block extrajs %}
    <script src="{% static 'bootstrap/js/holder.js' %}"></script>
{% endblock %}

{% block extrajsexternal %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript"
            src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ addthis_publisher_id }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
