{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block heading %}
    <h3><span class="fa fa-circle-o"></span> Coins</h3>
{% endblock %}

{% block navbarWrapper %}
    {% with isActiveCoins='active' %}
        {{ block.super }}
    {% endwith%}
{% endblock navbarWrapper %}

{% block content %}
    <div class="container-fluid">
        {% if sticky_message %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ sticky_message.message|safe }}
            </div>
        {% endif %}
        <!-- chart area -->
        {# TODO create carousel for multiple currencies #}
        <div class="row">
            <div class="container-fluid full-width">
                <div id="bitcoinChart" class = "card-body"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid topPadding">
        <div class="row">
            {% render_table cryptocurrency %}
        </div>
    </div>
{% endblock %}

{% block extrahead %}
    <!-- HighCharts/Highstocks js-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
            $(document).ready(function () {

            // Glucose Average by Day chart
            var bitcoinChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'bitcoinChart',
                },

                tooltip: {split: true},
                title: {text: 'Bitcoin Chart'},

                rangeSelector: {
                    allButtonsEnabled: true,
                    buttons: [{
                        type: 'day',
                        count: 1,
                        text: 'Day',
                    }, {
                        type: 'week',
                        count: 1,
                        text: 'Week',
                    }, {
                        type: 'month',
                        count: 1,
                        text: 'Month',
                    }],

                buttonTheme: {
                width: 60
            },

        },

                xAxis: {
                    title: {text: null},
                    labels: {rotation: -45}
                },
                yAxis: [
                  {
                    tickAmount: 4,
                    title: {text: 'Price'},
                    startOnTick: true,
                    endOnTick: true,
                    height: '60%',
                },
                  {
                    title: {text: 'Volume'},
                    top: '65%',
                    height: '35%',
                  }
                ],
                series: [{
                    type: 'line',
                    name: 'Price',
                    animation: true,
                    tooltip: {
                        valueDecimals: 2
                    },
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    }
                },
                  {
                    type: 'column',
                    name: 'volume',
                    animation:true,
                    yAxis: 1,

                  }
                ]
            };

            // set the url to the chart_data_json view
            var chartDataUrl = "{% url 'coinsChartDataJson' %}";

            // pull data from the chart_data_json view and add it to the chart
            $.getJSON(chartDataUrl, function (data) {
                bitcoinChartOptions.series[0].data = data['chart_price_data'];
                bitcoinChartOptions.series[1].data = data['chart_volume_data'];
                new Highcharts.stockChart(bitcoinChartOptions);
            });
        });
    </script>
{% endblock %}