{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block heading %}
    <h3><span class="fa fa-circle-o"></span> Coins</h3>
{% endblock %}

{% block navbarWrapper %}
    {% with isActiveCoins='active' %}
        {{ block.super }}
    {% endwith%}
{% endblock navbarWrapper %}

{% block content %}
    <div class="container-fluid">
        {% if sticky_message %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ sticky_message.message|safe }}
            </div>
        {% endif %}
        <!-- chart area -->
        {# TODO create carousel for multiple currencies #}
        <div class="row">
            <div class="container-fluid full-width">
                <div id="bitcoinChart" class = "card-body"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid topPadding">
        <div class="row">
            {% render_table cryptocurrency %}
        </div>
    </div>
{% endblock %}

{% block extrahead %}
    <!-- HighCharts/Highstocks js-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block extrajs %}

    <script type="text/javascript">
        $(document).ready(function () {

            // Glucose Average by Day chart
            var bitcoinChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'bitcoinChart',
                    type: 'line',
                },
                legend: {enabled: false},
                title: {text: 'Bitcoin Chart'},
                subtitle: {text: 'Last 14 Days'},
                xAxis: {
                    title: {text: null},
                    labels: {rotation: -45}
                },
                yAxis: {title: {text: null}},
                series: [{
                    animation: true,
                    tooltip: {
                        valueDecimals: 2
                    },
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    }
                }]
            };

            // set the url to the chart_data_json view
            var chartDataUrl = "{% url 'coinsChartDataJson' %}";
            // if you want to add additional parameters such as name, or days, add this at the end
            //var ?name=avg_by_day&days=14";

            // pull data from the chart_data_json view and add it to the chart
            {# TODO add currency price and update the chart#}
            $.getJSON(chartDataUrl, function (data) {
                bitcoinChartOptions.series[0].name = 'Price'; // ({{ user.settings.currencyUnit }})
                bitcoinChartOptions.series[0].data = data['chart_data'];
                new Highcharts.stockChart(bitcoinChartOptions);
            });
        });
    </script>
{% endblock %}