{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block heading %}
    <h3><span class="fa fa-th"></span> Dashboard</h3>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if sticky_message %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ sticky_message.message|safe }}
            </div>
        {% endif %}
        <!-- chart area -->
        <div class="row">
            {# TODO add Bitcoin chart #}
            <div class="container">
                <div id="bitcoinChart" class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- left hand side -->
            <div class="col">
                <!-- Cerebro Analysis Area -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Cerebro's Analysis</h4>
                    </div>
                    {# TODO put in Cerebro analysis template #}
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Bitcoin</h4>
                                <span class="fa fa-arrow-up fa-2x" style="color:green"></span>
                            </div>
                            <p class="font-weight-light">
                                <b>Social Media Volume Change:</b> +100 Volume
                                <b>Sentiment Change:</b> +5%
                                <b>Price Change:</b> +15%
                            </p>
                            <small>Updated X days ago</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Ethererm</h4>
                                <span class="fa fa-arrow-down fa-2x" style="color:red"></span>
                            </div>
                            <p class="font-weight-light">
                                <b>Social Media Volume Change:</b> -100 Volume
                                <b>Sentiment Change:</b> -5%
                                <b>Price Change:</b> -15%
                            </p>
                            <small>Updated X days ago</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">Litecoin</h4>
                                <span class="fa fa-arrow-up fa-2x" style="color:green"></span>
                            </div>
                            <p class="font-weight-light">
                                <b>Social Media Volume Change:</b> +100 Volume
                                <b>Sentiment Change:</b> +5%
                                <b>Price Change:</b> +15%
                            </p>
                            <small>Updated X days ago</small>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- right hand side -->
            <div class="col">
                <div class="card text-center">
                    <ul class="nav nav-tabs">
                        <li class="active nav-item"><a href="#one" data-toggle="tab" class="nav-link">Twitter</a></li>
                        <li class="nav-item"><a href="#two" data-toggle="tab" class="nav-link">Reddit</a></li>
                        <li class="nav-item"><a href="#three" data-toggle="tab" class="nav-link">News</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- Tab 1 -->
                        <div class="tab-pane active" id="one">
                            <div class="list-group">
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>

                        <!-- Tab 2 -->
                        <div class="tab-pane" id="two">
                            <div class="list-group">
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>

                        <!-- Tab 3 -->
                        <div class="tab-pane" id="three">
                            <div class="list-group">
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small>3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">List group item heading</h5>
                                        <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                                        diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->


{% endblock %}

{% block extracss %}
    <link href="{{ STATIC_URL }}datatables/media/css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet">
{% endblock %}

{% block extrahead %}
    <!-- JS, popper.js, jQuery for highcharts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}datatables/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script src="{{ STATIC_URL }}datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>

    <!--
    //<script src="https://code.highcharts.com/highcharts.src.js"></script>
    //<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    //<script src="https://code.highcharts.com/highcharts.js"></script>
    //<script src="https://code.highcharts.com/modules/data.js"></script>
    //<script src="https://code.highcharts.com/modules/series-label.js"></script>
    //<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Additional files for the Highslide popup effect -->
    <!--
    //<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
    //<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
    -->
    <script src="{{ STATIC_URL }}scripts/scripts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_hba1c_panel').tooltip();

            // Update stats in panels
            var statsUrl = "{% url 'stats_json' %}";

            function loadStats() {
                $.getJSON(statsUrl,
                    function (data) {
                        document.getElementById('id_latest_entry').innerHTML =
                            data['stats']['latest_entry']['value'];
                        document.getElementById('id_latest_entry').className =
                            "text-center " + data['stats']['latest_entry']['css_class'];

                        document.getElementById('id_hba1c').innerHTML =
                            data['stats']['hba1c']['value'];
                        document.getElementById('id_hba1c').className =
                            "text-center " + data['stats']['hba1c']['css_class'];

                        /*document.getElementById('id_num_records').innerHTML =
                            data['stats']['num_records'];*/

                        document.getElementById('id_lowest').innerHTML =
                            data['stats']['breakdown']['lowest']['value'];
                        document.getElementById('id_lowest').className =
                            data['stats']['breakdown']['lowest']['css_class'];

                        document.getElementById('id_highest').innerHTML =
                            data['stats']['breakdown']['highest']['value'];
                        document.getElementById('id_highest').className =
                            data['stats']['breakdown']['highest']['css_class'];

                        document.getElementById('id_average').innerHTML =
                            data['stats']['breakdown']['average']['value'];
                        document.getElementById('id_average').className =
                            data['stats']['breakdown']['average']['css_class'];

                        document.getElementById('id_highs').innerHTML =
                            data['stats']['breakdown']['highs'];
                        document.getElementById('id_lows').innerHTML =
                            data['stats']['breakdown']['lows'];
                        document.getElementById('id_within_target').innerHTML =
                            data['stats']['breakdown']['within_target'];
                        document.getElementById('id_other').innerHTML =
                            data['stats']['breakdown']['other'];

                        var twitter_text = "#bgnow "
                            + data['stats']['latest_entry']['value']
                            + " (" + data['stats']['latest_entry']['record_time']
                            + ") " + data['stats']['latest_entry']['notes'];
                        // Remove leading and trailing spaces
                        twitter_text = twitter_text.trim();
                        updateTwitterValues(twitter_text, 'glucosetracker');
                    }
                )
            };

            loadStats();


            // Glucose Average by Day chart
            var bitcoinChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'bitcoinChart',
                    type: 'line',
                },
                legend: {enabled: false},
                title: {text: 'Bitcoin Chart'},
                subtitle: {text: 'Last 14 Days'},
                xAxis: {title: {text: null}, labels: {rotation: -45}},
                yAxis: {title: {text: null}},
                series: [{
                    animation: false
                }],
            };


            var chartDataUrl = "{% url 'chart_data_json' %}?name=avg_by_day&days=14";

            function loadBitcoinChart() {
                $.getJSON(chartDataUrl,
                    function (data) {
                        bitcoinChartOptions.xAxis.categories = data['chart_data']['dates'];
                        bitcoinChartOptions.series[0].name = 'Avg Glucose ({{ user.settings.glucose_unit }})';
                        bitcoinChartOptions.series[0].data = data['chart_data']['values'];
                        var chart = new Highcharts.Chart(bitcoinChartOptions);
                    });
            }
            
            loadBitcoinChart();


            var oTable = $('#glucose_table').dataTable({
                "sDom": 'T<"container">lfrtip',
                "tableTools": {
                    "sSwfPath": "{{ STATIC_URL }}datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                    "aButtons": ["csv", "pdf"]
                },
                "aLengthMenu": [
                    [10, 15, 25, 50, 75, 100],
                    [10, 15, 25, 50, 75, 100],
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'glucose_list_json' %}",
                "aaSorting": [[2, 'desc'], [3, 'desc']],

                // Disable sorting for the Tags and Delete columns.
                "aoColumnDefs": [{"bSortable": false, "aTargets": [5, 6]}]
            });

            // Add the glucose value and refresh the table data
            var frm = $('#quick_add_form');
            frm.submit(function () {
                $.ajax({
                    type: frm.attr('method'),
                    url: "{% url 'glucose_quick_add' %}",
                    data: frm.serialize(),
                    success: function (data) {
                        var message = jQuery.parseJSON(data);
                        if (message['success']) {
                            // Reload the table data. This function is located in
                            // scripts/scripts.js.
                            oTable.fnReloadAjax();

                            // Reload the chart and stats panels
                            loadStats();
                            loadChart();

                            document.getElementById('quick_add_form').reset();
                            $('#id_value').focus();

                            // Re-enable the submit button.
                            $('#submit-id-submit').prop('disabled', false);
                        }
                        else {
                            alert(message['error']);
                            $('#id_value').focus().select();

                            // Re-enable the submit button.
                            $('#submit-id-submit').prop('disabled', false);
                        }
                    },
                    error: function (data) {
                        alert('Sorry, something went wrong. Please try again.');
                    }
                });
                return false;
            });

            // For Twitter button
            {# TODO remove twitter button#}

            function updateTwitterValues(text, via) {
                $('#id_twitter_button').html('<a href="https://twitter.com/share?url=/" class="twitter-share-button" data-dnt="true" data-text="' + text + '" data-count="none" data-via="' + via + '">Tweet</a>');
                twttr.widgets.load();
            }

            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];

                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }

            (document, "script", "twitter-wjs");
        });
    </script>
{% endblock %}