{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block heading %}
    <h3><span class="fa fa-th"></span> Dashboard</h3>
{% endblock %}

{% block content %}
    <div class="container">
    {% if sticky_message %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ sticky_message.message|safe }}

        </div>
    {% endif %}

    <!-- chart area -->
    <div class="row">
        {# TODO add Bitcoin chart #}
        <div class="col-xs-12 col-md-4">
            <div id="bitcoinChart" class="panel-body"></div>
        </div>

        {# TODO add Ethereum chart #}
        <div class="hidden-xs-block col-md-4">
            <div id="ethereumChart" class="panel-body"></div>
        </div>

        {# TODO add Litecoin chart #}
        <div class="hidden-xs-block col-md-4">
            <div id="litecoinChart" class="panel-body"></div>
        </div>
    </div> <!-- end row -->

    <div class="row">
        <!-- left hand side -->
        <div class="col-sm-6 col-md-6">
            <div class="row col-sm-12 col-md-12">
                <!-- Cerebro Analysis Area -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">Cerebro's Analysis</h2>
                    </div>
                    <div class="panel-body">
                        {# TODO put in Cerebro analysis template #}
                        <article>
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <figure>
                                        <a href="{% static 'images/icons/icon_blood_red_192x192.png' %}"
                                           class="thumbnail">
                                            <img src="{% static 'images/icons/icon_blood_red_192x192.png' %}">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <span class=" pull-right fa fa-arrow-down fa-2x" style="color:red;"></span>
                                    <h4>Bitcoin</h4>
                                    <p>Social Media Volume Change:</p>
                                    <p>Sentiment Change:</p>
                                    <p>Price Change:</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <figure>
                                        <a href="{% static 'images/icons/icon_blood_red_192x192.png' %}"
                                           class="thumbnail">
                                            <img src="{% static 'images/icons/icon_blood_red_192x192.png' %}">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                    <span class=" pull-right fa fa-arrow-up fa-2x" style="color:green;"></span>
                                    <h4>Ethereum</h4>
                                    <p>Social Media Volume Change:</p>
                                    <p>Sentiment Change:</p>
                                    <p>Price Change:</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <figure>
                                        <a href="{% static 'images/icons/icon_blood_red_192x192.png' %}"
                                           class="thumbnail">
                                            <img src="{% static 'images/icons/icon_blood_red_192x192.png' %}">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-10 col-md-10">
                                                <span class=" pull-right fa fa-arrow-up fa-2x"
                                                      style="color:green;"></span>
                                    <h4>Litecoin</h4>
                                    <p>Social Media Volume Change:</p>
                                    <p>Sentiment Change:</p>
                                    <p>Price Change:</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div><!-- end row -->
        </div> <!-- end col -->
        <!-- right hand side -->
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">Twitter</a></li>
                            <li><a href="#two" data-toggle="tab">Reddit</a></li>
                            <li><a href="#three" data-toggle="tab">News</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="one">Lorem ipsum dolor sit amet, charetra varius quam
                                sit
                                amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida
                                a
                                libero.
                            </div>
                            <div class="tab-pane" id="two">
                                <div class="panel-body">
                                    {#                                    TODO make the whole panel an href #}

                                    <div class="media">
                                        <div class="pull-left">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Canis_lupus.jpg/260px-Canis_lupus.jpg"
                                                     alt="imagename">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <h3><a href="#" target="_parent">Media Source
                                                <small class="align-bottom-left">X minutes ago</small>
                                            </a></h3>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nulla
                                            sapien, semper in sodales ac, rutrum at orci.
                                            <div class="clearfix"></div>
                                            <i class="pull-right fa fa-comment-o">5678</i>
                                            <i class="pull-right fa fa-arrow-circle-o-up">1234</i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="three">
                                Lorem ipsum dolor sit amet, charetra varius quam sit
                                amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a
                                libero.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extracss %}
    <link href="{{ STATIC_URL }}datatables/media/css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet">
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}datatables/media/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}datatables/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script src="{{ STATIC_URL }}datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/js/modules/exporting.js"></script>
    <script src="{{ STATIC_URL }}scripts/scripts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_hba1c_panel').tooltip();

            // Update stats in panels
            var statsUrl = "{% url 'stats_json' %}";

            function loadStats() {
                $.getJSON(statsUrl,
                    function (data) {
                        document.getElementById('id_latest_entry').innerHTML =
                            data['stats']['latest_entry']['value'];
                        document.getElementById('id_latest_entry').className =
                            "text-center " + data['stats']['latest_entry']['css_class'];

                        document.getElementById('id_hba1c').innerHTML =
                            data['stats']['hba1c']['value'];
                        document.getElementById('id_hba1c').className =
                            "text-center " + data['stats']['hba1c']['css_class'];

                        /*document.getElementById('id_num_records').innerHTML =
                            data['stats']['num_records'];*/

                        document.getElementById('id_lowest').innerHTML =
                            data['stats']['breakdown']['lowest']['value'];
                        document.getElementById('id_lowest').className =
                            data['stats']['breakdown']['lowest']['css_class'];

                        document.getElementById('id_highest').innerHTML =
                            data['stats']['breakdown']['highest']['value'];
                        document.getElementById('id_highest').className =
                            data['stats']['breakdown']['highest']['css_class'];

                        document.getElementById('id_average').innerHTML =
                            data['stats']['breakdown']['average']['value'];
                        document.getElementById('id_average').className =
                            data['stats']['breakdown']['average']['css_class'];

                        document.getElementById('id_highs').innerHTML =
                            data['stats']['breakdown']['highs'];
                        document.getElementById('id_lows').innerHTML =
                            data['stats']['breakdown']['lows'];
                        document.getElementById('id_within_target').innerHTML =
                            data['stats']['breakdown']['within_target'];
                        document.getElementById('id_other').innerHTML =
                            data['stats']['breakdown']['other'];

                        var twitter_text = "#bgnow "
                            + data['stats']['latest_entry']['value']
                            + " (" + data['stats']['latest_entry']['record_time']
                            + ") " + data['stats']['latest_entry']['notes'];
                        // Remove leading and trailing spaces
                        twitter_text = twitter_text.trim();
                        updateTwitterValues(twitter_text, 'glucosetracker');
                    }
                )
            };

            loadStats();


            // Glucose Average by Day chart
            var bitcoinChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'bitcoinChart', // name of the <div id="avgByDayPanel" this'll push to
                    type: 'line',
                },
                legend: {enabled: false},
                title: {text: 'Bitcoin Chart'},
                subtitle: {text: 'Last 14 Days'},
                xAxis: {title: {text: null}, labels: {rotation: -45}},
                yAxis: {title: {text: null}},
                series: [{
                    animation: false
                }],
            };

            // Glucose Average by Day chart
            var ethereumChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'ethereumChart', // name of the <div id="avgByDayPanel" this'll push to
                    type: 'line',
                },
                legend: {enabled: false},
                title: {text: 'Ethereum Chart'},
                subtitle: {text: 'Last 14 Days'},
                xAxis: {title: {text: null}, labels: {rotation: -45}},
                yAxis: {title: {text: null}},
                series: [{
                    animation: false
                }],
            };

            // Glucose Average by Day chart
            var litecoinChartOptions = {
                credits: {enabled: false},
                chart: {
                    renderTo: 'litecoinChart', // name of the <div id="avgByDayPanel" this'll push to
                    type: 'line',
                },
                legend: {enabled: false},
                title: {text: 'Litecoin Chart'},
                subtitle: {text: 'Last 14 Days'},
                xAxis: {title: {text: null}, labels: {rotation: -45}},
                yAxis: {title: {text: null}},
                series: [{
                    animation: false
                }],
            };

            var chartDataUrl = "{% url 'chart_data_json' %}?name=avg_by_day&days=14";

            function loadBitcoinChart() {
                $.getJSON(chartDataUrl,
                    function (data) {
                        bitcoinChartOptions.xAxis.categories = data['chart_data']['dates'];
                        bitcoinChartOptions.series[0].name = 'Avg Glucose ({{ user.settings.glucose_unit }})';
                        bitcoinChartOptions.series[0].data = data['chart_data']['values'];
                        var chart = new Highcharts.Chart(bitcoinChartOptions);
                    });
            }

            function loadEthereumChart() {
                $.getJSON(chartDataUrl,
                    function (data) {
                        ethereumChartOptions.xAxis.categories = data['chart_data']['dates'];
                        ethereumChartOptions.series[0].name = 'Avg Glucose ({{ user.settings.glucose_unit }})';
                        ethereumChartOptions.series[0].data = data['chart_data']['values'];
                        var chart = new Highcharts.Chart(ethereumChartOptions);
                    });
            }

            function loadLitecoinChart() {
                $.getJSON(chartDataUrl,
                    function (data) {
                        litecoinChartOptions.xAxis.categories = data['chart_data']['dates'];
                        litecoinChartOptions.series[0].name = 'Avg Glucose ({{ user.settings.glucose_unit }})';
                        litecoinChartOptions.series[0].data = data['chart_data']['values'];
                        var chart = new Highcharts.Chart(litecoinChartOptions);
                    });
            }

            loadBitcoinChart();
            loadEthereumChart();
            loadLitecoinChart();


            var oTable = $('#glucose_table').dataTable({
                "sDom": 'T<"container">lfrtip',
                "tableTools": {
                    "sSwfPath": "{{ STATIC_URL }}datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                    "aButtons": ["csv", "pdf"]
                },
                "aLengthMenu": [
                    [10, 15, 25, 50, 75, 100],
                    [10, 15, 25, 50, 75, 100],
                ],
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url 'glucose_list_json' %}",
                "aaSorting": [[2, 'desc'], [3, 'desc']],

                // Disable sorting for the Tags and Delete columns.
                "aoColumnDefs": [{"bSortable": false, "aTargets": [5, 6]}]
            });

            // Add the glucose value and refresh the table data
            var frm = $('#quick_add_form');
            frm.submit(function () {
                $.ajax({
                    type: frm.attr('method'),
                    url: "{% url 'glucose_quick_add' %}",
                    data: frm.serialize(),
                    success: function (data) {
                        var message = jQuery.parseJSON(data);
                        if (message['success']) {
                            // Reload the table data. This function is located in
                            // scripts/scripts.js.
                            oTable.fnReloadAjax();

                            // Reload the chart and stats panels
                            loadStats();
                            loadChart();

                            document.getElementById('quick_add_form').reset();
                            $('#id_value').focus();

                            // Re-enable the submit button.
                            $('#submit-id-submit').prop('disabled', false);
                        }
                        else {
                            alert(message['error']);
                            $('#id_value').focus().select();

                            // Re-enable the submit button.
                            $('#submit-id-submit').prop('disabled', false);
                        }
                    },
                    error: function (data) {
                        alert('Sorry, something went wrong. Please try again.');
                    }
                });
                return false;
            });

            // For Twitter button
            {# TODO remove twitter button#}

            function updateTwitterValues(text, via) {
                $('#id_twitter_button').html('<a href="https://twitter.com/share?url=/" class="twitter-share-button" data-dnt="true" data-text="' + text + '" data-count="none" data-via="' + via + '">Tweet</a>');
                twttr.widgets.load();
            }

            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];

                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }

            (document, "script", "twitter-wjs");
        });
    </script>
{% endblock %}